<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transport company database manager</title>
    <meta http-equiv="Content-Type" content="text/html; charseet=UTF-8" />
    <link href="/static/query.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="top">
    <form method="get" action="/logout"><button class="logout_button">LOGOUT</button></form>
</div>
<div class="header">
    <a style="text-decoration:none" href="/menu">
        <h2 style="font-family: Arial, Helvetica, sans-serif; color: white; font-size: 400%;">
            Trucking company database manager
        </h2>
    </a>
</div>
<div>
    <table>
        <caption class="caption"><b>ПОДЧИНЁННЫЕ СОТРУДНИКА {{employee}}, ДОЛЖНОСТЬ: "{{position}}"</b></caption>
        <tr>
            <th>ID</th>
            <th>ФИО</th>
            <th>Должность</th>
        </tr>
        {{#subordinates}}
            <tr>
                <td>{{empId}}</td>
                <td>{{name}}</td>
                <td>{{position}}</td>
            </tr>
        {{/subordinates}}
    </table>
</div>
</body>
</html>