<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trucking company database manager</title>
    <meta http-equiv="Content-Type" content="text/html; charseet=UTF-8" />
    <link href="/static/table.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="top">
    <form method="get" action="/logout"><button class="logout_button">LOGOUT</button></form>
</div>
<div class="header">
    <a style="text-decoration:none" href="/menu">
        <h2 style="font-family: Arial, Helvetica, sans-serif; color: white; font-size: 400%;">
            Trucking company database manager
        </h2>
    </a>
</div>
<div>
<div class="insert">
    <form method="post" action="/addBrigade">
        <div>
        <label>
            <select class="field" required name="area">
                {{#areas}}
                    <option value={{areaId}}>{{areaId}}</option>
                {{/areas}}
            </select>
            Участок
        </label>
        </div>
        <div>
        <label>
            <select class="field" required name="brigadier">
                {{#employees}}
                    <option value={{empId}}>{{empId}}</option>
                {{/employees}}
            </select>
            Бригадир
        </label>
        </div>
        <button class="add_button" type="submit">Add</button>
    </form>
</div>
<div style="float: left; width: 78%;">
    <table>
        <caption class="caption"><b>БРИГАДЫ</b></caption>
        <tr>
            <th>ID бригады</th>
            <th>ID участка</th>
            <th>ID бригадира</th>
            <th>ФИО бригадира</th>
            <th class="button_th"></th>
            <th class="button_th"></th>
        </tr>
        {{#brigades}}
            <tr>
                <td>{{brigadeId}}</td>
                <td>{{area.areaId}}</td>
                <td>{{brigadier.empId}}</td>
                <td>{{brigadier.name}}</td>
                <td class="button_td">
                    <form>
                        <button class="button">EDIT</button>
                    </form>
                </td>
                <td class="button_td">
                    <form method="post" action="/deleteBrigade">
                        <button name="brigadeId" value={{brigadeId}} type="submit" class="button">DELETE</button>
                    </form>
                </td>
            </tr>
        {{/brigades}}
    </table>
</div>
</div>
</body>
</html>