<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trucking company database manager</title>
    <meta http-equiv="Content-Type" content="text/html; charseet=UTF-8" />
    <link href="/static/table.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="back">
    <form method="get" action="/menu"><button class="back_button">BACK</button></form>
</div>
<div class="header">
    <a style="text-decoration:none" href="/menu">
        <h2 style="font-family: Arial, Helvetica, sans-serif; color: white; font-size: 400%;">
            Trucking company database manager
        </h2>
    </a>
</div>
<div>
<div class="insert">
    <form method="post" action="/addRoute">
        <div>
        <label>
            <input required class="field" type="number" min="10" max="5000" step="5" value="10" name="length">
            Длина (км)
        </label>
        </div>
        <button class="add_button" type="submit">Add</button>
    </form>
</div>
<div style="float: left; width: 78%;">
    <table>
        <caption class="caption"><b>МАРШРУТЫ</b></caption>
        <tr>
            <th>ID</th>
            <th>Длина</th>
            <th class="button_th"></th>
            <th class="button_th"></th>
        </tr>
        {{#routes}}
            <tr>
                <td>{{routeId}}</td>
                <td>{{length}}</td>
                <td class="button_td">
                    <form>
                        <button class="button">EDIT</button>
                    </form>
                </td>
                <td class="button_td">
                    <form method="post" action="/deleteRoute">
                        <button name="routeId" value={{routeId}} type="submit" class="button">DELETE</button>
                    </form>
                </td>
            </tr>
        {{/routes}}
    </table>
</div>
</div>
</body>
</html>