<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trucking company database manager</title>
    <meta http-equiv="Content-Type" content="text/html; charseet=UTF-8" />
    <link href="/static/table.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="top">
    <form method="get" action="/logout"><button class="logout_button">LOGOUT</button></form>
</div>
<div class="header">
    <a style="text-decoration:none" href="/menu">
        <h2 style="font-family: Arial, Helvetica, sans-serif; color: white; font-size: 400%;">
            Trucking company database manager
        </h2>
    </a>
</div>
<div>
<div class="insert">
    <form method="post" action="/addTruck">
        <div>
            <label>
                <select class="field" required name="brand">
                    <option>Газ</option>
                    <option>Ваз</option>
                    <option>Пежо</option>
                    <option>Тойота</option>
                </select>
                Марка
            </label>
        </div>
        <div>
            <label>
                <input required class="field" type="date" min="2015-01-01" max="2020-12-31" name="acquirementDate" value="2020-12-31">
                Дата приобретения
            </label>
        </div>
        <div>
            <label>
                <input required class="field" type="date" min="2015-01-01" max="2020-12-31" name="decommissionDate" value="2020-12-31">
                Дата списания
            </label>
        </div>
        <div>
            <label>
                <select class="field" required name="garage">
                    {{#garages}}
                        <option value={{garageId}}>{{garageId}}</option>
                    {{/garages}}
                </select>
                Гараж
            </label>
        </div>
        <div>
            <label>
                <select class="field" required name="carcassType">
                    <option>платформа</option>
                    <option>цистерна</option>
                    <option>бортовой</option>
                    <option>тентованный</option>
                </select>
                Тип каркаса
            </label>
        </div>
        <div>
            <label>
                <input required class="field" type="number" min="100" max="5000" step="10" value="100" name="carryingCapacity">
                Грузоподъёмность
            </label>
        </div>
        <div>
            <label>
                <input required class="field" type="number" min="1" max="10" step="1" value="1" name="weight">
                Масса
            </label>
        </div>
        <div>
            <button class="add_button" type="submit">Add</button>
        </div>
    </form>
</div>
<div style="float: left; width: 78%;">
    <table>
        <caption class="caption"><b>ГРУЗОВОЙ ТРАНСПОРТ</b></caption>
        <tr>
            <th>ID</th>
            <th>Марка</th>
            <th>Дата приобретения</th>
            <th>Дата списания</th>
            <th>Гаражное хозяйство</th>
            <th>Тип каркаса</th>
            <th>Грузоподъёмность</th>
            <th>Масса</th>
            <th class="button_th"></th>
            <th class="button_th"></th>
        </tr>
        {{#trucks}}
            <tr>
                <td>{{id}}</td>
                <td>{{brand}}</td>
                <td>{{acquirementDate}}</td>
                <td>{{decommissionDate}}</td>
                <td>{{garage.garageId}}</td>
                <td>{{carcassType}}</td>
                <td>{{carryingCapacity}}</td>
                <td>{{weight}}</td>
                <td class="button_td">
                    <form>
                        <button class="button">EDIT</button>
                    </form>
                </td>
                <td class="button_td">
                    <form method="post" action="/deleteTruck">
                        <button name="id" value={{id}} type="submit" class="button">DELETE</button>
                    </form>
                </td>
            </tr>
        {{/trucks}}
    </table>
</div>
</div>
</body>
</html>